.nav {
	font-size: clamp(2rem, 2vw, 12rem);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	background-color: rgb(30 29 29);
	padding: 2rem 0;
}

.nav a {
	color: #F1F1F1;
}
