.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;

	color: #F1F1F1;
	background-color: rgb(30 29 29);
	font-family: 'Open Sans', sans-serif;

	height: 100vh;
}

.container > div {
	margin: 1rem 0;
	justify-self: flex-start;
	text-align: center;
	width: 100vw;
}

.container p, label {
	font-size: clamp(2.5rem, 3vw, 8rem);
	line-height: 1.5;
}

.container h1 {
	font-size: clamp(5rem, 6vw, 10rem);
	margin-top: 0.6rem;
}

.container > p > span {
	color: #38b399;
	font-weight: bold;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form input {
	border: none;
}

.form input, .form button {
	margin: 0.8rem 0;
	width: clamp(5rem, 66vw, 70vw);
	font-size: clamp(2.5rem, 2vw, 10rem);
	font-family: 'Open Sans', sans-serif;
}
