@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@theme {
	--font-family-primary: 'Open Sans', sans-serif;
  --color-primary-blue: #001A72;

	--background-image-home: url('/background.png');
	--background-image-footer: url('/background-footer.png');
}

.image-render-pixel {
	image-rendering: pixelated;
}
